{% extends 'website/base.html' %}

{% load static %}


{% load crispy_forms_tags %}


{% block content %}


<section class="hero section dark-background">

  <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active">
      <img src="{% static 'assets/img/contact-hero.jpg' %}" alt="contact_page">
      <div class="carousel-container">
        <h2>Ask For A Quote</h2>
        <p>Please, tell us exactly what you need and we will help you figure it out.</p>

      </div>
    </div><!-- End Carousel Item -->

  </div>

</section><!-- /Hero Section -->


<section style="background-color: #eee;">
  <div class="container p-5  bg-white">
    <div class="row">
      <div class="col-12">
        <form action="" method="post">
          {% csrf_token %}

          {{ form|crispy }}
          
        
          <!-- Submit button -->
          <button class="btn btn-danger" type="submit" style="border-radius: 25px;">Request</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</section>






{% endblock content %}

