{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="{% url 'website:index' %}" class="logo align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
       <img src="{% static 'assets/img/nupale_logo_2.png' %}" class="my_logo" alt="logo" style="width: 100%; height:500px !important;">
    
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="active">Home</a></li>
       
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>